@CHARSET "UTF-8";

body {
	font-family: Arial;
	font-size: 12px;
	background-color: #ffffff;
	padding: 15px;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.heading {
	font-size: 12px;
	font-weight: bold;
}

#sddm {
	margin: 0;
	padding: 0;
}

#sddm li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
	width: 150px;
}

#sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: #5aae00;
	color: #FFF;
	text-align: center;
	text-decoration: none
}

#sddm li a:hover {
	background: #5aae00;
}

#sddm div {
	z-index: 2;
	width: 149px;
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 0px solid #5aae00;
}

#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #5aae00;
	color: #FFF;
	font: bold 11px arial;;
}

#sddm div a:hover {
	font-weight: normal;
	margin: -1px;
}

form a {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}

form a span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}

#formEditar hr {
	border: 1.5px solid #DEDEDE;
}

#conteudo { /* 	float: left; */
	/* 	width: 85%; */
	
}

/* #noticia { */
/* 	float: right; */
/* 	width: 15%; */
/* 	height: 100%; */
/* } */
#rodape {
	height: 10px;
	line-height: 10px;
	margin-top: 10px;
	color: #B2B2B2;
	width: 100%;
	clear: both;;
}

#rodape a {
	color: #B2D65D;
	text-decoration: none;
}

.tooltip {
	background: transparent url(/img/seta_branca.png);
	display: none;
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #000;
}

.menu {
	font: 13px/27px Arial, sans-serif;
	color: #3366CC;
	height: 30px;
	background: black;
}

.menu a {
	text-decoration: none;
	padding: 6px 8px 7px;
	color: white;
	outline: none;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 10px;
}

.menu ul li {
	padding: 0;
	float: right;
}

.menu ul li ul li {
	padding: 0;
	float: none;
	margin: 0 0 0 0px;
	width: 100%;
}

.menu ul li ul {
	position: absolute;
	border: 1px solid black;
	box-shadow: 0 1px 5px #CCCCCC;
	margin-top: -1px;
	display: none;
	padding: 0px 16px 0px 0;
}

.active ul {
	display: block !important;
}

.active a {
	background-color: black;
	border: 1px solid black;
	border-bottom: 0;
	box-shadow: 0 -1px 5px #CCCCCC;
	display: block;
	height: 29px;
	padding: 0 8px 0 8px;
	position: relative;
	z-index: 1;
	color: white;
}

.active a:hover {
	background-color: black;
}

.active ul a:hover {
	background-color: black;
}

.active ul a {
	border: 0 !important;
	box-shadow: 0 0 0 #CCCCCC;
	border: 0;
	width: 100%;
}

.arrow {
	border-color: white transparent transparent;
	border-style: solid dashed dashed;
	margin-left: 5px;
	position: relative;
	top: 10px;
}

form#formCadastro {
/* 	width: 35%; */
	padding: 20px;
	/*border: 1px solid rgb(133, 183, 214);*/
	margin: 0 auto;
}

form#formCadastro label#titulo {
	font-weight: bold;
	font-size: 20px;
}

form#formCadastro label { /* 	display: block; */
	font-weight: bold;
	font-size: 11px;
}

#tudo {
	width: 100%;
	position: relative; /*Contexto de posicionamento */
	margin: 0 auto;
	min-height: 100%;
	border-width: 0 1px;
}

#logo {
	width: 891px;
}

#formulario {
	width: 445px;
}

.obrigatorio{
	font-weight: bold;
	color: red;
	margin: 5px 5px 5px 5px;
}	