<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!--filtro-->
	<filter>
		<filter-name>filtro</filter-name>
		<filter-class>br.com.appestoque.Filtro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/menu.jsp</url-pattern>
	</filter-mapping>
	
	<!-- SEGURANÇA -->
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/usuarioControle/*</url-pattern>
	</filter-mapping>
	
	<!-- SUPRIMENTO -->
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/produtoControle/*</url-pattern>
	</filter-mapping>

	<!-- CADASTRO -->	
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/empresaControle/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/clienteControle/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/cidadeControle/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/bairroControle/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/representanteControle/*</url-pattern>
	</filter-mapping>
	
	
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/rest/UsuarioRest/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/rest/produtoRest/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/file_upload.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/upload</url-pattern>
	</filter-mapping>

	
	<!--servlet-->
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>br.com.appestoque.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>	
	<!--servlet-->
	

	<!--rest-->
	<servlet>
		<servlet-name>cargaInicial</servlet-name>
		<servlet-class>br.com.appestoque.rest.CargaInicial</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>cargaInicial</servlet-name>
		<url-pattern>/rest/cargaInicial</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>produtoRest</servlet-name>
		<servlet-class>br.com.appestoque.rest.ProdutoRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>produtoRest</servlet-name>
		<url-pattern>/rest/produtoRest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsuarioRest</servlet-name>
		<servlet-class>br.com.appstoque.rest.UsuarioRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioRest</servlet-name>
		<url-pattern>/rest/UsuarioRest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SincRest</servlet-name>
		<servlet-class>br.com.appstoque.rest.SincRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SincRest</servlet-name>
		<url-pattern>/rest/sincRest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmpresaSinc</servlet-name>
		<servlet-class>br.com.appestoque.rest.EmpresaSinc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpresaSinc</servlet-name>
		<url-pattern>/rest/empresaSinc</url-pattern>
	</servlet-mapping>
	<!--rest-->
	
	<!--segurança-->
	<servlet>
		<servlet-name>UsuarioControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.seguranca.UsuarioControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControle</servlet-name>
		<url-pattern>/usuarioControle</url-pattern>
	</servlet-mapping>
	
	<!--suprimeiro-->
	<servlet>
		<servlet-name>ProdutoControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.suprimento.ProdutoControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdutoControle</servlet-name>
		<url-pattern>/produtoControle</url-pattern>
	</servlet-mapping>
	
	<!--cadastro-->
	<servlet>
		<servlet-name>EmpresaControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.cadastro.EmpresaControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpresaControle</servlet-name>
		<url-pattern>/empresaControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClienteControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.cadastro.ClienteControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteControle</servlet-name>
		<url-pattern>/clienteControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CidadeControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.cadastro.CidadeControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CidadeControle</servlet-name>
		<url-pattern>/cidadeControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BairroControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.cadastro.BairroControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BairroControle</servlet-name>
		<url-pattern>/bairroControle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RepresentanteControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.cadastro.RepresentanteControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepresentanteControle</servlet-name>
		<url-pattern>/representanteControle</url-pattern>
	</servlet-mapping>
    
    
    
    <servlet>
		<servlet-name>Processo</servlet-name>
		<servlet-class>br.com.appestoque.Processo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Processo</servlet-name>
		<url-pattern>/processo</url-pattern>
	</servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>apresentacao.jsp</welcome-file>
    </welcome-file-list>

</web-app>
