<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!--filtro-->
	<filter>
		<filter-name>filtro</filter-name>
		<filter-class>br.com.appestoque.Filtro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/menu.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/seguranca/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/suprimento/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/usuarioControle/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/produtoControle/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filtro</filter-name>
		<url-pattern>/rest/UsuarioRest/*</url-pattern>
	</filter-mapping>
	

	<!--rest-->	
	<servlet>
		<servlet-name>UsuarioRest</servlet-name>
		<servlet-class>br.com.appstoque.rest.UsuarioRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioRest</servlet-name>
		<url-pattern>/rest/UsuarioRest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SincRest</servlet-name>
		<servlet-class>br.com.appstoque.rest.SincRest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SincRest</servlet-name>
		<url-pattern>/rest/sincRest</url-pattern>
	</servlet-mapping>
	
	<!--segurança-->
	<servlet>
		<servlet-name>UsuarioControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.seguranca.UsuarioControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsuarioControle</servlet-name>
		<url-pattern>/usuarioControle</url-pattern>
	</servlet-mapping>
	
	<!--suprimeiro-->
	<servlet>
		<servlet-name>ProdutoControle</servlet-name>
		<servlet-class>br.com.appestoque.controle.suprimento.ProdutoControle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdutoControle</servlet-name>
		<url-pattern>/produtoControle</url-pattern>
	</servlet-mapping>
    
    <servlet>
		<servlet-name>Processo</servlet-name>
		<servlet-class>br.com.appestoque.Processo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Processo</servlet-name>
		<url-pattern>/processo</url-pattern>
	</servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>apresentacao.jsp</welcome-file>
    </welcome-file-list>

</web-app>
